.footer{
    background: #525252;
    max-width: 1200px;
    margin: 0 auto ;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 4px;
    filter: drop-shadow(8px 5px 8px #555152);
    
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:20px;
    align-items: center;

}
.footer-texto{
    margin: 15px;
    font-size: 2rem;
    line-height: 1.33;
    color: #f5f5f5;
}
.footer-contato li{
    margin: 50px;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #ffff;
    margin-bottom: 30px;
}

.footer-contato li a{
    color: #f5f5f5;
    text-decoration: none;
}
.footer-copy{
    max-width: 1200px;
    margin: auto auto;
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #f5f5f5;
    background: #555152;
    height: 50px;
    margin-bottom: 20px;
    display: flex      ;
    justify-content: center;
    align-items: center;
}
.footer .subtitulo{
    color: #f5f5f5;
    margin: 30px;

}
@media (max-width: 700px){
.footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
        
    }
.footer-contato li {
        font-size: 1rem;
        
    }
.footer-texto{
    font-size: 1rem;
} 
   
}

