.projetos{
    max-width: 1200px;
    padding: 40px 20px;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 50px;
    
    
}
.projetos img{
    max-width: 100%;
    width: 300px;
    height: 200px;
    border-radius: 4px;
    filter: drop-shadow(8px 5px 8px #555152);
}
.projetos .subtitulo{
    margin-top: 30px;
    color: #038bbb;
    filter: drop-shadow(2px 5px 2px #555152);  

}
.titulo{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #525252;

}
.projeto1 a{
    padding: 5px 10px;
    background: #038bbb;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #f5f5f5;
    font-size: 1rem;
    width: 80px;
    margin-left: 90px;
}
.projeto1 a:hover{
    background: #063868;
}
.projeto1{
   
   margin: auto auto;
   display: flex;
   padding: 20px;
   flex-wrap: wrap;
   justify-content: center;
   background: #f5f5f5;
   border-radius: 4px;
   gap:50px;
   filter: drop-shadow(8px 5px 8px #555152);
   
}
.projetos  li{
    transition: .35s;

}
.projeto1:hover > :not(:hover){
    opacity: .7;
    transform: scale(0.9);

}
@media (max-width: 800px ){
    .projetos{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .titulo{
        font-size: 1.3rem;
    }
    .projeto1{
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
