.sobre-container{
    max-width: 1200px;
    padding: 40px 20px;
    margin: auto auto;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 50px;
    
    }
.sobre{
    background: #038bbb;
    border-radius: 4px;
    margin: auto auto;
    max-width:1200px;
    filter: drop-shadow(8px 5px 8px #555152);
}
.sobre .subtitulo{
    color: #f5f5f5;
    filter: drop-shadow(2px 5px 2px #555152);  

}

h3{
    font-size: 2rem;
    text-shadow: 2px 3px 2px #525252;
    color: #f5f5f5;
}

p{
    font-size: 2rem;
}
.cursos{
    font-size: 2rem;
}
.sobre img{
    background: #038bbb;
    display: block;
    max-width: 100%;

    
}
@media (max-width: 800px){
    .sobre-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }
.sobre .cursos{
        font-size: 1rem;
    }
p{
    font-size: 1.2rem;
}
.subtitulo{
    font-size: 1.5rem;
}
.sobre img{
    width: 200px;
}
.sobre h2{
    font-size: rem;
}
}